<div class="row">
    <div class="col-md-4">
        <div class="img-winner-holder">
            <img src="img/winner.png" alt="" class="img-full">
            <div class="player-card">
                <img src="img/circle-icon.png" alt="" width="35">
                <span>2</span>
            </div>
            <div class="img-winner-card">
                <card card='DONE' ng-style="style" class="img-full">
                </card>
                <card card='DONE' ng-style="style" class="img-full winner-card-two">
                </card>
            </div>
        </div>
    </div>    <div class="col-md-4">
        <div class="img-winner-holder">
            <img src="img/winner.png" alt="" class="img-full">
            <div class="player-card">
                <img src="img/circle-icon.png" alt="" width="35">
                <span>2</span>
            </div>
            <div class="img-winner-card">
                <card card='DONE' ng-style="style" class="img-full">
                </card>
                <card card='DONE' ng-style="style" class="img-full winner-card-two">
                </card>
            </div>
        </div>
    </div>    <div class="col-md-4">
        <div class="img-winner-holder">
            <img src="img/winner.png" alt="" class="img-full">
            <div class="player-card">
                <img src="img/circle-icon.png" alt="" width="35">
                <span>2</span>
            </div>
            <div class="img-winner-card">
                <card card='DONE' ng-style="style" class="img-full">
                </card>
                <card card='DONE' ng-style="style" class="img-full winner-card-two">
                </card>
            </div>
        </div>
    </div>    <div class="col-md-4">
        <div class="img-winner-holder">
            <img src="img/winner.png" alt="" class="img-full">
            <div class="player-card">
                <img src="img/circle-icon.png" alt="" width="35">
                <span>2</span>
            </div>
            <div class="img-winner-card">
                <card card='DONE' ng-style="style" class="img-full">
                </card>
                <card card='DONE' ng-style="style" class="img-full winner-card-two">
                </card>
            </div>
        </div>
    </div>
</div>