<div class="padding-horizontal">

    <div class="text-center stack-button-holder">
        <button class="button" on-tap="toggleStack();">
            <span ng-if="!isStack.value">Stack</span>
            <span ng-if="isStack.value">Unstack</span>
        </button>
    </div>
    <div class="text-center bottom-cards" ng-class="{'player-turn':player.isTurn,'not-active':!player.isActive,'player-fold':player.isFold}">
        <div class="row">
            <div class="col-50" ng-if="!isStack.value">
                <animated-card card="{{player.cards[0]}}" ng-if="player.cards.length > 0"></animated-card>
            </div>
            <div class="col-50" ng-if="!isStack.value">
                <animated-card card="{{player.cards[1]}}" ng-if="player.cards.length > 1"></animated-card>
            </div>
            <div class="col-50 join-one" ng-if="isStack.value">
                <animated-card-stack card="{{player.cards[0]}}" player="player" ng-if="player.cards.length > 0"></animated-card-stack>
            </div>
            <div class="col-50 join-two" ng-if="isStack.value">
                <animated-card-stack card="{{player.cards[1]}}" player="player" ng-if="player.cards.length > 1"></animated-card-stack>
            </div>
        </div>

    </div>
</div>